﻿@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>Accueil</h1>
    <p class="lead">Bienvenue sur le nouveau portail Medecin.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Modules actifs</h2>
        <p>
            Recherche patients
        </p>
    </div>    
</div>