﻿@model IMAD.Digimad.AppMedecin.ViewModels.PatientViewModel

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mes patients";
}


<div id="patient-filter">
    <form action="#" id="form-filters" class="form-horizontal">
        <div class="panel-group accordion" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#collapse_1" aria-expanded="true">Filtres de recherche</a>
                    </h4>
                </div>
            </div>
            <div id="collapse_1" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "help-block" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.LastName, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "help-block" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.AVS, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.AVS, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.AVS, null, new { @class = "help-block" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.BirthDate, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.BirthDate, null, new { @class = "help-block" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NPA, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.NPA, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NPA, null, new { @class = "help-block" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WithAwaitingTask, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.WithAwaitingTask, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.WithAwaitingTask, null, new { @class = "help-block" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Phone, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Phone, null, new { @class = "help-block" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-block" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <button type="button" id="btn-search" class="btn default pull-right">Filtrer</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="patient-grid">
    <table id="patientTable" class="table table-striped table-hover dt-responsive" cellspacing="0">
    </table>
</div>

@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        var patientdataTable = $('#patientTable').DataTable({
            "paging": false,
            "searching":false,
            "bServerSide": true,
            "sAjaxSource": "/Patient/GetPatients",
            "bProcessing": true,
            "fnServerParams": function (aoData) {
                aoData.push(
                    { 'name': 'patientfilterFirstName', 'value': $('#FirstName').val() },
                    { 'name': 'patientfilterLastName', 'value': $('#LastName').val() },
                    { 'name': 'patientfilterAVS', 'value': $('#AVS').val() },
                    { 'name': 'patientfilterBirthDate', 'value': $('#BirthDate').val() },
                    { 'name': 'patientfilterNPA', 'value': $('#NPA').val() },
                    { 'name': 'patientfilterWithAwaitingTask', 'value': $('#WithAwaitingTask').val() },
                    { 'name': 'patientfilterPhone', 'value': $('#Phone').val() },
                    { 'name': 'patientfilterEmail', 'value': $('#Email').val() }
                );
            },
            "columns": [
                            { "data": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "visible": false
                            },
                            {
                                "data": "FirstName",
                              "title": "Prénom"
                             },
                           {
                               "data": "LastName",
                              "title": "Nom"
                             }
                        ]
        });
        $('#btn-search').on('click', function () {
            patientdataTable.draw();
        });
    });

    
</script>
}


